/*
*
* CSS RESETS
*
*/
/*Colors*/
/* #00843C - darkgreen */
/* #2e2e2e - gray */
/* rgba(76, 175, 80, 1) - lightgreen */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

:root{
	--theme-color: #00843C;
	--vh: 0.85vh;
	--vw: 0.85vw;
	--scolor: green;
	--fcolor: red;
	--transparent: rgba(0,0,0,0.2);
	--transparentx2: rgba(0,0,0,0.6);
	--fr2: repeat(2,1fr);
	--fr3: repeat(3,1fr);
	--fr4: repeat(4,1fr);
	--fr5: repeat(5,1fr);
	--circle: 50%;
	--pxvalues: 2px 2px 3px 2px;
}

*{
	margin: 0;
	padding: 0;
	letter-spacing: 0.1em;
	font-size: 0.9rem;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
}

body{
  min-height: 100vh;
  /*width: 100vw;*/
  display: grid;
  grid-template-rows: 1fr auto;
  overflow-x: hidden;
}

.wow{
	visibility: hidden;
}

h1,h2,h3,h4,h5,h6,p.h4{
	text-transform: capitalize;
	font-weight: bold;
}
h4.catname,
div.itemhead > h6,
.grid.cart h4,
.grid.cart h5,
.grid.btshop,
.grid.checkcont h2,
.grid.checkcont h4,
.form-control,
main.content h5,
p.p-head{
	color: var(--theme-color);
}
/*remove spinners for input type number*/

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a{
	color: inherit;
}

.btn {
	background: var(--theme-color);
}
/*
*
* Universal Declarations
*
*/
/* Displaying a Container Grid */
.grid{
	display: grid;
	padding: var(--vh);
}

.grid.nopad{
	padding: 0;
	margin: 0;
}

.grid.page-header{
	place-items: center;
	padding: var(--vh);
}
.grid.page-header.single{
	padding: calc(var(--vh)*25);
}

/* Attaching a border */
.nice-border{
	border-radius: var(--vh);
	outline: 0;
	box-shadow: var(--pxvalues) var(--transparent);
}

main.maincontent{
	width: 100vw;
}

/*
*
* Navbars
*
*/

.navbar_notxs{
	display: none;
}
nav#secondnav{
	max-height: calc(var(--vh)*3);
	width: 100vw;
}
nav#mainnav{
	width: 100vw;
	position: sticky;
	top: 0;
	z-index: 10;
	background: var(--theme-color);
	font-size: 1.5em;
	font-weight: bolder;
}

.navbar_xs ul{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	place-items: center;
	width: 100%;
}

.navbar_xs ul li{
	text-align: center;
	font-size: 20px;
}




/*
*
* Index /about index.php
*
*/

.grid.aboutpf{
	font-weight: bold;
	grid-gap: var(--vh);
}
	.grid.abouthead{
		height: calc(var(--vh)*100);
		position: relative;
		border-radius: 50px;
		place-items: center;
		display: none;
	}
	.grid.imagecont{
		height: calc(var(--vh)*100);
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: -1;
		-webkit-clip-path: polygon(76% 0, 100% 14%, 88% 100%, 13% 100%, 0% 75%, 11% 0);
		clip-path: polygon(76% 0, 100% 14%, 88% 100%, 13% 100%, 0% 75%, 11% 0);
		box-shadow: var(--pxvalues) var(--transparentx2);
	}
		.grid.imagecont img{
			width: 100%;
			height: calc(var(--vh)*100);
			filter: saturate(250%);
			-webkit-clip-path: polygon(76% 0, 100% 14%, 88% 100%, 13% 100%, 0% 75%, 11% 0);
			clip-path: polygon(76% 0, 100% 14%, 88% 100%, 13% 100%, 0% 75%, 11% 0);
		}
	.shadow{
		position: absolute;
		width: 100vw;
		height: calc(var(--vh)*100);
		z-index: -2;
		content: "";
		left: 5px;
		top: 5px;
		filter : blur(20px);
		background: var(--theme-color);
		opacity: 0.4;
		-webkit-clip-path: polygon(76% 0, 100% 14%, 88% 100%, 13% 100%, 0% 75%, 11% 0);
		clip-path: polygon(76% 0, 100% 14%, 88% 100%, 13% 100%, 0% 75%, 11% 0);
	}
	.grid.abouthead p{
		border-radius: 50px;
		padding: calc(var(--vh)*6);
		margin: calc(var(--vh)*6);
		text-align: center;
		color: white;
		text-shadow: 2px 2px 2px black;
	}
		.highlight{
			padding: var(--vh);
			width: 100vw;
			font-size: 2em;
			line-height: 2em;
			background-color: var(--theme-color);
		}

	.grid.feats{
		min-height: 90vh;
		grid-template-columns: var(--fr1);
		grid-gap: var(--vh);
	}
		.grid.feat{
			padding: calc(var(--vh)*5);
			grid-gap: calc(var(--vh)*2);
		}
			.feat-img{
				height: 100%;
				display: grid;
				place-items: center;
			}
				.feat-img img {
					border-radius: 10px;
				}
			.feat-desc{
				text-align: center;
			}
				.feat-desc h4{
					color: var(--theme-color);
				}

	.grid.faqs{
		min-height: 90vh;
		width: 90vw;
		margin: 0 auto;
		grid-template-columns: var(--fr1);
	}
		.grid.faqstext{
			padding: calc(var(--vh)*5);
		}

		.grid.faqstext h6,
		.grid.faqstext li{
			color: var(--theme-color);
			font-weight: bolder;
			font-size: 0.8em;
		}
		
	.grid.faqs ol{
		list-style-position: inside;
	}
		.grid.faqs ol p{
			font-weight: normal;
		}
	.faq-img{
		height: 100%;
		display: grid;
		place-items: center;
		position: relative;
		z-index: -1;
	}
	.faq-img{
		width: 90%;
		margin: 0 auto;
	}
.shopnow {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	background: white;
	color: var(--theme-color);
	border-radius: 50px;
	padding: 1vh;
	outline: var(--theme-color);
	z-index: 50;
	animation: pulse 1s linear infinite;
	overflow: initial;
}

	.shopnow a{
		font-size: 4vh;
		font-weight: bolder;
		text-transform: capitalize;
	}

	.shopnow a i{
		font-size: 4vh;
		animation: bounce 1s linear infinite;
	}
	.shopnow:hover a,
	.shopnow:hover i {
		font-size: 3rem;
		color: red;
	}

/*
*
* Register
*
*/

.grid.register{
	place-items: center;
	padding: calc(var(--vh)*10);
	min-height: calc(var(--vh)*60);
}

.register form {
	min-width: calc(var(--vw)*50);
}

.register form div label span[class*="error"] {
	color: var(--fcolor);
}

.register form div label span[class*="success"]{
	color: var(--scolor);
}
/*
*
* Log In
*
*/

.grid.login{
	place-items: center;
	padding: calc(var(--vh)*9);
	min-height: calc(var(--vh)*50);
}

.login form {
	min-width: calc(var(--vw)*40);
}

.login form.loginf h6.loginerrmsg {
	color: var(--scolor);
	text-align: right;
}

/*
*
* Catalog
*
*/
.grid.productscont{
	padding: calc(var(--vh)*2);
	grid-template-columns: var(--fr1);
}
	ul.tabcatalog{
		color: var(--theme-color);
		padding-top: 0vh;
		display: grid;
		grid-template-columns: var(--fr2);
		width: 90vw;
		margin: 0 auto;
	}	
		ul.tabcatalog li {
			border: 1px solid var(--theme-color);
			margin: 0.5vh;
			border-radius: 20px;
			text-align: center;
		}
		ul.tabcatalog li:hover,
		ul.tabcatalog li:active{
			border: 1px dotted var(--theme-color);
			background: var(--theme-color);
			
		}
		ul.tabcatalog li a{
			font-size: 0.8em;
			font-weight: bolder;
			letter-spacing: 0.2em;
		}
		ul.tabcatalog li a:hover,
		ul.tabcatalog li a:active{
			color: white;
		}

	.grid.catalog{
		grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
		grid-template-rows: auto;
	}

		.grid.item{
			place-items: center;
			padding: calc(var(--vh)*1);
			margin: calc(var(--vh)*1);
			grid-template-rows: repeat(auto-fill, minmax(1vh,10vh));
			grid-gap: calc(var(--vh)*1);
			font-size: 0.5	rem;
		}

		.grid.item div img{
			height: calc(var(--vh)*15);
		}
li.cart {
	position: relative;
}

li.cart a{
	overflow: visible;
}

span.totalprice{
	font-weight: bold;
	font-size: 0.6em;
	position: absolute;
	top: 0%;
	left: 50%;
}

.grid.cartbuttons{
	grid-template-columns: var(--fr3);
	grid-gap: var(--vh);
}
	.grid.cartbuttons button{
		border-radius: var(--circle);
		width: 4vh;
		height: 4vh;
		outline: none;
		border: 0;
		background: transparent;
	}
	.grid.cartbuttons button i{
		font-size: 4vh;
		line-height: 4vh;
		margin: 0 auto;
		color: var(--theme-color);
	}
	.grid.cartbuttons input,
	.grid.cartbuttons button i{
		text-align: center;
	}

	.grid.cartbuttons button:hover{
		cursor: pointer;
	}

/*
*
* Cart
*
*/
.grid.cart{
	padding: calc(var(--vh)*5);
}
	.grid.btshop{
		grid-template-columns: 1fr 1fr;
	}
	.grid.btshop p{
		text-align: right;
		font-weight: bolder;
	}

	.grid.btshop p a{
		border: 1px solid var(--theme-color);
		border-radius: 5px;
		padding: 1vh;
	}

	.grid.btshop a:hover{
		color: var(--theme-color);
		font-size: 1.5em;
	}

	.grid.cartheader,
	.grid.cartitems{
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: minmax(20px, 40px);
	}
	.grid.cartitems p{
		font-weight: bolder;
	}

.editqty input {
	border-radius: 20px;
	min-width: 50%;
	max-width: 6vw;
	text-align: center;
	outline: none;
	border: 0;
	background: var(--theme-color);
	color: white;
	padding: 0.5vh;
	font-weight: bold;
}

.editqty i{
	font-size: 2.5vh;
	cursor: pointer;
}
	.editqty i:nth-child(2){
		color: red;
	}

.grid.cartitems:nth-child(even){
	background: var(--transparent);
}
.grid.totalcont{
	grid-template-columns: var(--fr1);
	grid-gap: 1vh;
}
.grid.totalcont > button {
	letter-spacing: 0.8em;
	font-weight: bolder;
}
.grid.totalcont > h5 {
	display: grid;
	place-items: center;
}


/*
*
* Checkout
*
*/
.grid.checkcont{
	grid-template-columns: var(--fr2);
}
	.grid.checkout{
		padding: calc(var(--vh)*2);
		grid-template-rows: 1fr 1fr 10fr;
	}
		.grid.checkheader{
			grid-template-columns: var(--fr2);
		}

		.grid.nopad.cicont{
			min-height: 40vh;
		}

		.grid.checkitems{
			grid-template-columns: var(--fr2);
		}
			.grid.checkitems:nth-child(odd){
				background: var(--transparent);
			}
		.grid.checktotal2{
			grid-template-columns: var(--fr2);
		}

	.grid.delivery{
		padding: calc(var(--vh)*2);
		position: relative;
		align-self: center;
	}

.form-control {
	font-weight: bold;
	padding: calc(var(--vh)*2);
}

.md-form .form-control[readonly],
.md-form input[type=text],
.md-form input[type=tel]{
	border-bottom: 1px dotted var(--theme-color);
}

/*
*
* OrderHistory 
*
*/
.historycontainer{
	padding: 5vh;
}
.grid.history{
	grid-template-columns: var(--fr3);
	border-bottom: 1px dotted var(--theme-color);
}

.orderhistory {
	max-width: 50vw;
	margin: 2vh auto;
}

.grid.orderitems{
	grid-template-columns: var(--fr2);
	text-align: center;
}
.grid.orderitems:nth-child(even){
	background: var(--theme-color);
	color: white;
	font-weight: bolder;
}

/*
*
* Profile
*
*/
span.profilespan{
	color: var(--scolor);
}

.grid.profile{
	padding: calc(var(--vh)*4);
	align-items: center;
}

.grid.userinfo{
	grid-gap: calc(var(--vh)*2);
}


.grid.userinfo .grid.userdetail{
	grid-template-columns: 2fr 10fr auto;
	grid-gap: calc(var(--vh)*2);
}

.grid.userinfo .grid.userdetail button {
	border-radius: 20px;
}

.grid.buttons {
	grid-template-columns: auto auto;
}
.grid.buttons button{
	border-radius: 20px;
}

.grid.buttons .deactivate{
	justify-self: start;
}
.grid.buttons .profilesave {
	justify-self: end;
}
/*
 * Footer
 */
footer.page-footer{
	background: var(--theme-color);
	grid-row-start: 2;
	grid-row-end: 3;
	width: 100vw;
}
footer.page-footer h4,
footer.page-footer h5,
footer.page-footer p,
footer.page-footer h6{
	font-size: 0.8em;
}

.grid.ordersuccess{
	place-items: center;
	padding-top: 10vh;
}