/*****************/
/*****************/
/*    CSS RESET  */
/*****************/
/*****************/

*{
	margin: 0;
	padding: 0;
	letter-spacing: 0.1em;
	font-size: 0.9rem;
}

/*****************/
/*****************/
/*  Navigation   */
/*****************/
/*****************/
nav#secondnav{
	max-height: 6vh;
}
nav#mainnav{
	position: sticky;
	top: 0;
	z-index: 10;
}

/*****************/
/*****************/
/*  Main Content */
/*****************/
/*****************/

main.maincontent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(3,1fr);
	padding: 2vh;
	grid-gap: 1vh;
	min-height: 100vh;
}
