/*
*
* CSS RESETS
*
*/
/*Colors*/
/* #00843C - darkgreen */
/* #2e2e2e - gray */
/* rgba(76, 175, 80, 1) - lightgreen */

:root{
	--theme-color: maroon;
	--vh: 0.8vh;
	--vw: 0.8vw;
	--scolor: green;
	--fcolor: red;
	--transparent: rgba(0,0,0,0.2);
	--2fr: repeat(2,1fr);
	--3fr: repeat(3,1fr);
	--4fr: repeat(4,1fr);
	--5fr: repeat(5,1fr);
	--circle: 50%;
	--pxvalues: 2px 2px 3px 2px;
}

*{
	margin: 0;
	padding: 0;
	letter-spacing: 0.1em;
	font-size: 0.9rem;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p.h4{
	text-transform: capitalize;
	font-weight: bold;
}
h4.catname,
div.itemhead > h6,
.grid.cart h4,
.grid.cart h5,
.grid.btshop,
.grid.checkcont h2,
.grid.checkcont h4,
.form-control,
main.content h5,
p.p-head{
	color: var(--theme-color);
}
/*remove spinners for input type number*/

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a{
	color: inherit;
}

.btn {
	background: var(--theme-color);
}
/*
*
* Universal Declarations
*
*/

/* Displaying a Container Grid */
.grid{
	display: grid;
	padding: var(--vh);
}

.grid.page-header{
	place-items: center;
	padding: var(--vh);
}

/* Attaching a border */
.nice-border{
	border-radius: var(--vh);
	outline: 0;
	box-shadow: var(--pxvalues) var(--transparent);
}

/*
*
* Navbars
*
*/
nav#secondnav{
	max-height: calc(var(--vh)*3);
}
nav#mainnav{
	position: sticky;
	top: 0;
	z-index: 10;
	background: var(--theme-color);
}

/*
*
* Main Content
*
*/

main.content {
	min-height: calc(var(--vh)*120);
}


/*
*
* Register
*
*/

.grid.register{
	place-items: center;
	padding: calc(var(--vh)*10);
	min-height: calc(var(--vh)*50);
}

.register form {
	min-width: calc(var(--vh)*45);
}

.register form div label span[class*="error"] {
	color: var(--fcolor);
}

.register form div label span[class*="success"]{
	color: var(--scolor);
}
/*
*
* Log In
*
*/

.grid.login{
	place-items: center;
	padding: calc(var(--vh)*9);
	min-height: calc(var(--vh)*50);
}

.login form {
	min-width: calc(var(--vw)*40);
}

.login form.loginf h6.loginerrmsg {
	color: var(--scolor);
	text-align: right;
}

/*
*
* Catalog
*
*/
.grid.productscont{
	padding: calc(var(--vh)*5);
	grid-template-columns: 2fr 10fr;
}

	.grid.catalog{
		grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
		grid-template-rows: auto;
		grid-area: catalog;
	}

		.grid.item{
			place-items: center;
			padding: calc(var(--vh)*1);
			margin: calc(var(--vh)*1);
			grid-template-rows: repeat(auto-fill, minmax(1vh,10vh));
			grid-gap: calc(var(--vh)*1);
			font-size: 0.5	rem;
		}

		.grid.item div img{
			height: calc(var(--vh)*15);
		}

span.totalprice{
	color: white;
	font-weight: bold;
}

.grid.cartbuttons{
	grid-template-columns: var(--3fr);
	grid-gap: var(--vh);
}
	.grid.cartbuttons button{
		border-radius: var(--circle);
		width: 4vh;
		height: 4vh;
		outline: none;
		border: 0;
		background: transparent;
	}
	.grid.cartbuttons button i{
		font-size: 4vh;
		line-height: 4vh;
		margin: 0 auto;
		color: var(--theme-color);
	}
	.grid.cartbuttons input,
	.grid.cartbuttons button i{
		text-align: center;
	}

	.grid.cartbuttons button:hover{
		cursor: pointer;
	}

/*
*
* Cart
*
*/
.grid.cart{
	padding: calc(var(--vh)*5);
}
	.grid.btshop{
		grid-template-columns: 1fr 1fr;
	}
	.grid.btshop p{
		text-align: right;
		font-weight: bolder;
	}

	.grid.btshop p a{
		border: 1px solid var(--theme-color);
		border-radius: 5px;
		padding: 1vh;
	}

	.grid.btshop a:hover{
		color: var(--theme-color);
		font-size: 1.5em;
		transform: translateX(-50px);
	}

	.grid.cartheader,
	.grid.cartitems{
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: minmax(20px, 40px);
	}
	.grid.cartitems p{
		font-weight: bolder;
	}

.editqty input {
	border-radius: 20px;
	min-width: 4vw;
	max-width: 6vw;
	text-align: center;
	outline: none;
	border: 0;
	background: var(--theme-color);
	color: white;
	padding: 0.5vh;
}

.editqty i{
	font-size: 2.5vh;
	cursor: pointer;
}
	.editqty i:nth-child(2){
		color: var(--theme-color);
	}

	.editqty i:nth-child(3){
		color: red;
	}

.grid.cartitems:nth-child(even){
	background: var(--transparent);
}
.grid.totalcont{
	grid-template-columns: 5fr 2fr;
	grid-gap: 1vh;
}
.grid.totalcont > button {
	letter-spacing: 0.8em;
	font-weight: bolder;
}
.grid.totalcont > h5 {
	display: grid;
	place-items: center;
}


/*
*
* Checkout
*
*/
.grid.checkcont{
	grid-template-columns: var(--2fr);
}
	.grid.checkout{
		padding: calc(var(--vh)*2);
	}
		.grid.checkheader{
			grid-template-columns: var(--2fr);
		}

		.grid.checkitems{
			grid-template-columns: var(--2fr);
		}
			.grid.checkitems:nth-child(even){
				background: var(--transparent);
			}
		.grid.checktotal2{
			grid-template-columns: var(--2fr);
		}

	.grid.delivery{
		padding: calc(var(--vh)*2);
		position: relative;
	}

		.formdeliver{
			position: fixed;
			top: 15%;
			right: 5%;
			z-index: 100;
		}

.form-control {
	font-weight: bold;
	padding: calc(var(--vh)*2);
}

.md-form .form-control[readonly],
.md-form input[type=text],
.md-form input[type=tel]{
	border-bottom: 1px dotted var(--theme-color);
}
/*
*
* Profile
*
*/
span.profilespan{
	color: var(--scolor);
}

.grid.profile{
	padding: calc(var(--vh)*4);
	align-items: center;
}

.grid.userinfo{
	grid-gap: calc(var(--vh)*2);
}


.grid.userinfo .grid.userdetail{
	grid-template-columns: 2fr 10fr auto;
	grid-gap: calc(var(--vh)*2);
}

.grid.userinfo .grid.userdetail button {
	border-radius: 20px;
}

.grid.buttons {
	grid-template-columns: auto auto;
}
.grid.buttons button{
	border-radius: 20px;
}

.grid.buttons .deactivate{
	justify-self: start;
}
.grid.buttons .profilesave {
	justify-self: end;
}
/*
 * Footer
 */
footer.page-footer{
	background: var(--theme-color);
}

