/*
*
* CSS RESETS
*
*/

/*remove spinners for input type number*/

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


*{
	margin: 0;
	padding: 0;
	letter-spacing: 0.1em;
	font-size: 0.9rem;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,.h4{
	text-transform: uppercase
}

.grid{
	display: grid;
}

/*
*
* items.php
*
*/
.row.items{
	margin: 5vh;
}

.sidenavitems{
	position: sticky;
	top: 0;
}


.grid.products{
	padding: 2vh;
	grid-gap: 1vh;
}

span.editmsg,
span.deletemsg,
span.addsuccess{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-weight: bold;
	font-size: 1.2rem;
	letter-spacing: 0.1em;
	background: rgba(0,0,0,0.1);
}

.grid.tableheader{
	grid-template-columns: repeat(7,1fr);
	border: 1px solid black;
	padding: 1vh;
}

.grid.tableproducts{
	grid-template-columns: repeat(7,1fr);
}

.grid.tableproducts > * {
	padding: 1vh;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.grid.tableproducts > *:last-child{
	border-right: 1px solid black;
}
.grid.products .btn{
	border-radius: 20px;
	max-width: 20vh;
}
.grid.edititems{
	grid-template-rows: repeat(3,1fr);
}
/* Add Products */
.grid.addproduct{
	padding: 2vh;
	grid-gap: 1vh;
}

.grid.addDetails{
	grid-template-columns: 3fr 10fr;
	margin: 1vh;
}

.grid.addDetails input,
.grid.addDetails select{
	border-radius: 10px;
	padding: 0.5vh;
}

.grid.buttons{
	grid-template-columns: 10fr auto auto;
}

.selectcat{
	width: 4vh;
}

	.selectcat > *{
		width: 250%;
	}

.grid.imagecell{
	place-items: center;	
}
	.grid.imagecell > img{
		width: 8vh;
		height: 8vh;
	}

.default-none{
	display: none;
}

span.addsuccess,
span#success,
span.editmsg{
	color: green;
}

/*upload product image*/


span#invalid,
span.deletemsg{
	color: red;
}

input.submit.uploadbtn{
	display: none;
}

input#file{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input#file + label {
    font-size: 1.25em;
    font-weight: 700;
    cursor: pointer;
}

a{
	color: inherit;
	font-weight: bolder;
}

input{
	width: auto;
}