/*
*
* CSS RESETS
*
*/

*{
	margin: 0;
	padding: 0;
	letter-spacing: 0.1em;
	font-size: 0.9rem;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p.h4{
	text-transform: uppercase
}

.grid{
	display: grid;
}

/*
*
* Products.php
*
*/

.grid.products{
	margin: 5vh auto;
	padding: 2vh;
	max-width: 90vh;
	grid-gap: 1vh;
}

.grid.tableheader{
	grid-template-columns: repeat(6,1fr);
	border: 1px solid black;
	padding: 1vh;
}

.grid.tableproducts{
	grid-template-columns: repeat(6,1fr);
}

.grid.tableproducts > * {
	padding: 1vh;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.grid.tableproducts > *:last-child{
	border-right: 1px solid black;
}
.grid.products .btn{
	border-radius: 20px;
	max-width: 20vh;
}

/* Add Products */
.grid.addproduct{
	margin: 5vh auto;
	padding: 2vh;
	max-width: 90vh;
	grid-gap: 1vh;
}

.grid.addDetails{
	grid-template-columns: 3fr 10fr;
	margin: 1vh;
}

.grid.addDetails input,
.grid.addDetails select{
	border-radius: 10px;
	padding: 0.5vh;
}

.grid.buttons{
	grid-template-columns: 10fr auto auto;
}

.default-none{
	display: none;
}

span.addsuccess{
	color: green;
}

/*upload product image*/

span#success{
	color: green;
}

span#invalid{
	color: red;
}

input.submit.uploadbtn{
	display: none;
}

input#file{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input#file + label {
    font-size: 1.25em;
    font-weight: 700;
    cursor: pointer;
}

a{
	color: inherit;
	font-weight: bolder;
}